<!-- layout.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header class="header">
    <nav>
      <a href="/" class="logo">SONG.AI</a>
      <div class="navigation">
        <% if (!loggedIn) { %>
          <a href="/auth/login" class="link">Login</a>
          <a href="/auth/signup" class="link">Sign Up</a>
        <% } else { %>
          <a href="/songs/new" class="link">Create Song</a>
          <a href="/songs/list" class="link">Songs List</a> <!-- Added link to the songs list -->
          <a href="/auth/logout" class="link">Logout</a>
        <% } %>
      </div>
    </nav>
  </header>
  <main class="main">
    <%- include(main) %>
  </main>
</body>
</html>
