<!-- layout.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <nav>
      <a href="/" class="logo">SONG.AI</a>
      <div class="navigation">
        <% if (!loggedIn) { %>
          <a href="/auth/login">Login</a>
          <a href="/auth/signup">Sign Up</a>
        <% } else { %>
          <a href="/songs/new">Create Song</a>
          <a href="/songs/list">Songs List</a> <!-- Added link to the songs list -->
          <a href="/auth/logout">Logout</a>
        <% } %>
      </div>
    </nav>
  </header>
  <main>
    <%- include(main) %>
  </main>
</body>
</html>
