<!-- signup.ejs -->
    <h1 class="auth-title">Sign Up</h1>
    <form action="/auth/signup" method="POST" class="form">
      <input type="text" name="username" placeholder="Username" class="input-text" required>
      <input type="password" name="password" placeholder="Password" class="input-password" required>
      <button type="submit" class="button auth-button">Sign Up</button>
    </form>
    <p class="auth-message">Already have an account? <a href="/auth/login" class="link">Log in</a></p>
  